
/* Regions and windows commands */

.commands {
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(125, 119, 96);
	border-color: rgba(125, 119, 96, 0.2);	
    margin-bottom: 8px;
    padding: 5px 10px 2px;
}


/** Toolbar minimum style */

.toolbar-menu a {
    display: inline-block;
    line-height: 24px;
    padding: 0 15px;
    text-align: center;
}

.toolbar-menu a:HOVER {
    text-decoration: none;
}

.toolbar-menu {
    display: inline-block;
}

.toolbar-menu a.toolbar-menu-title {
    display: inline-block;
    padding-right: 30px;
    background-image: url('../images/fleche-menu.png');
    background-repeat: no-repeat;
    background-position: right -4px;
}

.toolbar-menu ul {
    position: absolute;
    padding: 0;
    background-color: #FFFFFF;
    visibility: hidden;
    z-index: 3;
}

.toolbar-menu:HOVER ul, .toolbar-menu a:HOVER ul {
    visibility: visible;
}

.toolbar-menu ul li {
    display: block;
}

.toolbar-menu ul a {
    display: block;
    font-size: 10px;
    line-height: 22px;
    text-align: left;
}

.toolbar-menu ul a:HOVER {
    text-decoration: none;
}

.toolbar-menu ul a.uncheck {
    padding-left: 35px;
    background-image: url('../images/checkbox-uncheck.png');
    background-repeat: no-repeat;
    background-position: 15px 0;
}

.toolbar-menu ul a.check {
    padding-left: 35px;
    background-image: url('../images/checkbox-check.png');
    background-repeat: no-repeat;
    background-position: 15px 0;
}


/* Fancybox */

.fancybox-content {
    display: none;
}

.fancybox-table {
    display: table;
    border-collapse: separate;
    border-spacing: 5px 3px;
}

.fancybox-table-header {
    display: table-header-group;
    font-weight: bold;
}

form.fancybox-form {
    display: table-row-group;
    margin-bottom: 10px;
}

.fancybox-table-row {
    display: table-row;   
}

.fancybox-table-cell {
    display: table-cell;
    margin: 2px;
    vertical-align: middle;
}

.fancybox-table-header .fancybox-table-cell {
    margin: 0 5px;
}

form.fancybox-form .label {
    margin-right: 5px;
    text-align: right;
}

form.fancybox-form .small-input {
    margin: 0 20px;
    text-align: left;
    vertical-align: top;
}

form.fancybox-form .fancybox-center-content {
    text-align: center;
}

form.fancybox-form .required:BEFORE {
    content: "* ";
    color: red !important;
}



/* JSTree */

.jstree {
    width: 280px;
    min-height: 100px;
    overflow: auto;
}

input.filter {
    width: 180px;
}

input.inline-checkbox {
    vertical-align: middle;
}


.textarea-wrapper {
    margin: 0;
    padding: 0;
}

.textarea-wrapper textarea {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	width:100%;
	
}
























