/* ============ Toolbar  ===================== */
#toolbar .online-version,#toolbar .preview-version {
	display: -moz-inline-box;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-transform: none;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 0;
	background: none;
	color: white;
}

#toolbar .preview-version:hover,#toolbar .online-version:hover {
	background-color: transparent;
}

#toolbar .online-version span {
	padding: 0px 3px 0px 0px;
	height: 24px;
	line-height: 2;
	background-color: rgb(110, 183, 53);
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	box-shadow: 2px -1px 8px rgba(255, 255, 255, 0.6) inset, 0px 1px 2px
		black inset;
}

#toolbar .online-version span span {
	padding: 0 0 0 40px;
	background-color: #CCCCCC;
	border: 1px solid #BBBBBB;
	box-shadow: 1px 5px 8px white inset, -1px -2px 4px black inset;
}

#toolbar .online-version:hover span span {
	background-color: #DDDDDD;
}

#toolbar .preview-version span {
	padding: 0px 0px 0px 3px;
	height: 24px;
	line-height: 2;
	background-color: rgb(89, 119, 189);
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	box-shadow: 2px -1px 8px rgba(255, 255, 255, 0.6) inset, 0px 1px 2px
		black inset;
}

#toolbar .preview-version span span {
	padding: 0 40px 0 0;
	background-color: #CCCCCC;
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	box-shadow: 1px 5px 8px white inset, -1px -2px 4px black inset;
}

#toolbar .preview-version:hover span span {
	background-color: #DDDDDD;
}

toggle-test {
	display: inline-block;
}

.toggle-test .text {
	background-color: green;
	border: 1px solid grey;
	border-radius: 10px 10px 10px 10px;
	box-shadow: -1px -4px 8px rgba(255, 255, 255, 0.6) inset, 1px 3px 5px
		black inset;
	color: white;
	display: inline-block;
	line-height: 50px;
	padding: 0 15px 0 90px;
}

.toggle-test .button {
	background-color: gray;
	border: 1px solid gray;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 4px 8px white inset, -1px -4px 8px black inset;
	display: inline-block;
	height: 56px;
	margin: -3px;
	position: absolute;
	width: 75px;
}

/* ============= Mode Edition CMS ===================== */
.regionPreview {
	background-color: lightgrey;
	min-height: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
}


.fragmentPreview {
	border: 2px #555555 dashed;
	padding: 2px;
}

.fragmentPreview:hover {
	border-color: white;
	-moz-box-shadow: 0 0 12px #5977BD;
	-webkit-box-shadow: 0 0 12px #5977BD;
	-o-box-shadow: 0 0 12px #5977BD;
	box-shadow: 0 0 12px #5977BD;
	cursor: move;	
}


.cms-region-commands {
	margin-top: 15px;
}

.cms-commands {
	display: inline-block;
	border-style: solid;
	border-width: 1px 8px;
	border-color: rgba(125, 119, 96, 0.2);
	margin-bottom: 15px;
}

.cms-commands .cmd { 
	display: inline-block;
	padding: 5px 20px;
	min-height: 1em;
	color: #555555;
	background-color: #FCFCFC;
	border: 1px solid rgba(125, 119, 96, 0.2);
}

.cms-commands .cmd:hover {
	background-color: #FFFFFF;
}

.cms-commands .add {
	background: #FCFCFC url(../images/icons/icon_add.png) center left
		no-repeat;
	background-size: 16px;
}

.cms-commands .edit {
	background: #FCFCFC url(../images/icons/icon_edition.png) center left
		no-repeat;
	background-size: 16px;
}

.cms-commands .delete {
	background: #FCFCFC url(../images/icons/icon_delete.png) center left
		no-repeat;
	background-size: 16px;
}

