/* ============ Toolbar  ===================== */

#toolbar .cmsSwitches {
	padding: 2px 3px;
	border-radius: 3px;
	background-color: rgb(200, 200, 200);
	box-shadow: 2px -1px 8px rgba(255, 255, 255, 0.6) inset, 0px 1px 2px
		black inset;
}

#toolbar .cmsSwitch {
	padding: 0px 5px;
}
#toolbar .cmsSwitch:hover {
	background: transparent;
}


#toolbar img {
	margin: 0px;
	padding: 0px 2px;
	vertical-align: middle;
	height: 20px;
}
#toolbar img.imgActive, #toolbar img:hover {
	padding: 0px 0px;
	height: 24px;
}

#toolbar .online-label {
	width: 42px;
	
	/*height: 24px;
	line-height: 2;*/
	background-color: rgb(110, 183, 53);
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	/*box-shadow: 2px -1px 8px rgba(255, 255, 255, 0.6) inset, 0px 1px 2px
		black inset;*/
	color: white;
}

#toolbar .preview-label {
	width: 42px;
	/*height: 24px;
	line-height: 2;*/
	background-color: #35b7ac; 
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	/*box-shadow: 2px -1px 8px rgba(255, 255, 255, 0.6) inset, 0px 1px 2px
		black inset;*/
	color: white;
}

#toolbar .edition-label {
	width: 42px;
	/*height: 24px;
	line-height: 2;*/
	background-color: rgb(89, 119, 189);
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	/*box-shadow: 2px -1px 8px rgba(255, 255, 255, 0.6) inset, 0px 1px 2px
		black inset;*/
	color: white;
}


#toolbar .cmsSwitchOnline {
	background: #FCFCFC url(../images/icons/icon_published_version.png) center left
		no-repeat;
	background-size: 16px;
}
#toolbar .cmsSwitchPreview {
	background: #FCFCFC url(../images/icons/icon_live_version.png) center left
		no-repeat;
	background-size: 16px;
}
#toolbar .cmsSwitchEdition {
	background: #FCFCFC url(../images/icons/icon_live_version.png) center left
		no-repeat;
	background-size: 16px;
}




/* ============= Mode Edition CMS ===================== */
.regionPreview {
	background-color: lightgrey;
	min-height: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
}


.fragmentPreview {
	border: 2px #555555 dashed;
	padding: 2px;
}

.fragmentPreview:hover {
	border-color: white;
	-moz-box-shadow: 0 0 12px #5977BD;
	-webkit-box-shadow: 0 0 12px #5977BD;
	-o-box-shadow: 0 0 12px #5977BD;
	box-shadow: 0 0 12px #5977BD;
	cursor: move;	
}


.cms-region-commands {
	margin-top: 15px;
}

.cms-commands {
	display: inline-block;
	border-style: solid;
	border-width: 1px 8px;
	border-color: rgba(125, 119, 96, 0.2);
	margin-bottom: 15px;
}

.cms-commands .cmd { 
	display: inline-block;
	padding: 5px 20px;
	min-height: 1em;
	color: #555555;
	background-color: #FCFCFC;
	border: 1px solid rgba(125, 119, 96, 0.2);
}

.cms-commands .cmd:hover {
	background-color: #FFFFFF;
}

.cms-commands .add {
	background: #FCFCFC url(../images/icons/icon_add.png) center left
		no-repeat;
	background-size: 16px;
}

.cms-commands .edit {
	background: #FCFCFC url(../images/icons/icon_edition.png) center left
		no-repeat;
	background-size: 16px;
}

.cms-commands .delete {
	background: #FCFCFC url(../images/icons/icon_delete.png) center left
		no-repeat;
	background-size: 16px;
}

