//
// OSIVIA Portal - bxSlider component
// --------------------------------------------------


.bxslider-container .bx-wrapper {
    .bx-viewport {
        left: 0;
                
        border-style: none;
        
        .box-shadow(@shadow: none);
    }
    
    .bx-controls-direction a {
        z-index: 10;
    }
}
