//
// OSIVIA Fancybox properties
// --------------------------------------------------


// Variables
@import "../bootstrap/variables.less";
// Mixins
@import "../bootstrap/mixins.less";
@import "mixins.less";


@fancybox-close-button-size: 44px;


#popup-body {
    display: block;
    height: auto;
    min-height: auto;
    overflow: auto;
    
    padding: @padding-large-vertical @padding-large-horizontal;
    
    background-color: transparent;
    
    .portlet-container {
        margin-bottom: 0;
        
        &.panel {
            background-color: unset;
            border-style: unset;
            
            .box-shadow(@shadow: unset);
            
            > .panel-body {
                padding: 0;
            }
        }
    }
    
    pre {
        white-space: pre-line;
    }
}


.fancybox-slide {
    &.fancybox-slide--inline {
        > * {
            @media screen and (max-width: @screen-xs-max) {
                max-width: 100%;
                
                padding: @fancybox-close-button-size @padding-large-horizontal @padding-large-vertical;
            }
            
            @media screen and (min-width: @screen-sm-min) {
                max-width: 90%;
                
                padding-left: @fancybox-close-button-size;
                padding-right: @fancybox-close-button-size;
            }
        }  
    }
    
    &.fancybox-slide--iframe {
        .fancybox-content {
            max-height: 90%;
            width: @screen-lg-min;
            
            margin: 0;
            
            @media screen and (max-width: @screen-xs-max) {
                max-width: 100%;
            }
            
            @media screen and (min-width: @screen-sm-min) {
                max-width: 90%;
            }
        }   
    }
}


//.fancybox-inner {
//    .flexbox();
//}
