//
// OSIVIA Portal - Maximized portlet style
// --------------------------------------------------


// Media queries breakpoints
@import "media-queries-breakpoints.less";
// Mixins
@import "../bootstrap/mixins.less";


#maximized {
    > .page-header {
        margin-top: 20px;
    }
    
    .portlet-container {
        position: relative;
        
        .portlet-filler {
            overflow-x: visible;
            overflow-y: auto;
            
            &.container-fluid {
                padding-left: 0;
            }
        }
        
        .portlet-toolbar {
            bottom: 0;
            left: 0;
            right: 0;
            
            .panel {
                margin-bottom: 0;
            }
            
            @media screen and (max-width: @screen-xs-max) {
                position: fixed;
                
                .navbar {
                    margin-bottom: 0;
                    
                    border-style: solid none none;
                }
            }
            
            @media screen and (min-width: @screen-sm-min) {
                position: absolute;
                
                padding-top: 20px;
            }
        }
    }
}

