//
// OSIVIA Portal - Maximized portlet style
// --------------------------------------------------


// Mixins
@import "../bootstrap/mixins.less";
// Variables
@import "../bootstrap/variables.less";


#maximized {
    > .page-header {
        margin-top: 20px;
        
        .btn-toolbar {
            margin-right: 16px;
        }
        
        .title-container {
            overflow: hidden;
        }
        
        .h2 {
            margin-top: 0;
            
            ~ * {
                margin-top: 10px;
            }
        }
        
        img {
            margin-top: -10px;
            margin-left: 10px;
            
            max-height: 70px; 
        }
    }
}
