* {
	margin: 0;
	padding: 0;
}

#body {
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font: normal small Arial, Helvetica, sans-serif;
	color: #424242;
}



#regionMaximized div.portlet-container table {
	background : #FFFFFF ;


}




