<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <display-name>OSIVIA Portal - Custom web assets</display-name>

    <!-- Servlet des commandes -->
    <servlet>
        <servlet-name>DynaCmsAjaxServlet</servlet-name>
        <servlet-class>org.jboss.portal.theme.servlet.DynaAjaxServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DynaCmsAjaxServlet</servlet-name>
        <url-pattern>/cmsAjax/*</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet des portlets Spring -->
    <servlet>
        <servlet-name>ViewRendererServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewRendererServlet</servlet-name>
        <url-pattern>/WEB-INF/servlet/view</url-pattern>
    </servlet-mapping>
    
    <jsp-config>
        <taglib>
            <taglib-uri>portal-layout</taglib-uri>
            <taglib-location>theme/portal-layout.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>internationalization</taglib-uri>
            <taglib-location>theme/internationalization.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>