<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <display-name>osivia-portal-administration</display-name>


    <context-param>
        <param-name>org.jboss.portletbridge.ExceptionHandler</param-name>
        <param-value>
         org.jboss.portletbridge.SeamExceptionHandlerImpl
      </param-value>
    </context-param>
    <context-param>
        <param-name>javax.portlet.faces.renderPolicy</param-name>
        <param-value>ALWAYS_DELEGATE</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.RESOURCE_URI_PREFIX</param-name>
        <param-value>rfRes</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.LoadStyleStrategy</param-name>
        <param-value>ALL</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.LoadScriptStrategy</param-name>
        <param-value>ALL</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
        <param-value>false</param-value>
    </context-param>


    <listener>
        <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>Seam Resource Servlet</servlet-name>
        <servlet-class>org.jboss.seam.servlet.SeamResourceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Seam Resource Servlet</servlet-name>
        <url-pattern>/seam/resource/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ExportServlet</servlet-name>
        <servlet-class>org.osivia.portal.administration.ejb.ExportServlet</servlet-class>

        <init-param>
            <param-name>PortalObjectContainer</param-name>
            <param-value>portal:container=PortalObject</param-value>
        </init-param>
        <init-param>
            <param-name>DynamicObjectContainer</param-name>
            <param-value>osivia:service=DynamicPortalObjectContainer</param-value>
        </init-param>
        <init-param>
            <param-name>CacheService</param-name>
            <param-value>osivia:service=Cache</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExportServlet</servlet-name>
        <url-pattern>/export/*</url-pattern>
    </servlet-mapping>
    
    
   <servlet>
        <servlet-name>ExportConfigServlet</servlet-name>
        <servlet-class>org.osivia.portal.administration.ejb.ExportConfigServlet</servlet-class>

        <init-param>
            <param-name>PortalObjectContainer</param-name>
            <param-value>portal:container=PortalObject</param-value>
        </init-param>
        <init-param>
            <param-name>DynamicObjectContainer</param-name>
            <param-value>osivia:service=DynamicPortalObjectContainer</param-value>
        </init-param>
        <init-param>
            <param-name>CacheService</param-name>
            <param-value>osivia:service=Cache</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExportConfigServlet</servlet-name>
        <url-pattern>/exportConfig/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DumpServlet</servlet-name>
        <servlet-class>org.osivia.portal.administration.ejb.DumpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DumpServlet</servlet-name>
        <url-pattern>/dump/*</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>Seam Filter</filter-name>
        <filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Seam Filter</filter-name>
        <servlet-name>DownloadServlet</servlet-name>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Seam Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- Plugging the "Blue Sky" skin into the project -->
    <context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>classic</param-value>
    </context-param>

    <!-- Making the RichFaces skin spread to standard HTML controls -->
    <context-param>
        <param-name>org.richfaces.CONTROL_SKINNING</param-name>
        <param-value>enable</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.seam</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

</web-app>